.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.header-content img {
  width: 110px;
}

.header-nav ul {
display: flex;
gap: 30px;
}

.header-nav a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #007ecc; 
}

.header-nav a:hover {
  color: #00a8cc;
}

.header-nav .active {
  color: #fff;
  background-color: #007ecc;
  padding: 10px 30px;
  border-radius: 5px;
}

.header-nav .active:hover {
  color: #fff;
  background-color: #00a8cc;

}